
                                 .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
  width:900px;
  }

  .sidebar-menu li a { font-size: 30px; }



                               .content {background-color: #e5e5e5;}

                               .inner { background-color: #283747;

                               }

                               .headings {color:#d35400;}

                               .dropdown_headings {color:#283747;}

                               .input-daterange input {background-color:#d35400; color:white;}



                               .box.box-solid.box-primary{
                                 border-bottom-color:#283747;
                                 border-left-color:#283747;
                                 border-right-color:#283747;
                                 border-top-color:#283747;
                                 border-width: 4px;

                               }

                               .box.box-solid.box-primary>.box-header {color:#d35400; background:white;}


                               .main-header .logo {
                                 font-size: 40px;
                                 text-align: left;
                                 line-height: 100px;
                                 height: 100px;
                               }

                                .skin-blue .main-header .logo {
                                background-color: #e5e5e5;
                                color:#d35400
                                }


                                .skin-blue .main-header .logo:hover {
                                background-color: #e5e5e5 ;
                                }


                                .skin-blue .main-header .navbar {
                                background-color: #e5e5e5;
                                }


                                .skin-blue .main-sidebar {
                                background-color: #e5e5e5;
                                }


                                .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                                background-color:   #e5e5e5  ;

                                }


                                .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                                background-color:  #e5e5e5 ;
                                }

                                .skin-blue .main-header .navbar .sidebar-toggle:hover{
                                background-color:#827717;
                                }

                                .skin-blue .sidebar-menu > li:hover > a {
                                border-left-color: #827717;
                                }

                                .skin-blue .sidebar-menu > li.active > a {
                                border-left-color: #283747;
                                }

                                .tabbable > .nav > li[class=active]    > a {
                                background-color: #283747; color:white;
                                }

                                .nav-tabs-custom>.nav-tabs>li.active {
                                border-top-color: #827717;
                                }

                                .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
                                border-top-color: #283747;
                                }

                                hr {
                                border-style: solid;
                                border-color: #283747;
                                border-width: 2px;
                                }

                                .well {background-color:#e5e5e5;
                                       color: #000000;
                                       border: 2px solid #827717
                                }

                                .progress-bar {background-color: #d35400;}

                                .progress-bar {background-color: #d35400;}

                                .radio-inline {margin-right: 45px; padding-top: 8px;}

                                .shiny-options-group {font-size: 17px;}

                                .reportbutton {
                                 width: 270px; background-color:#283747;color:#d35400;
                                }

                                .submit_data {color:#d35400; }

                                .submit_data_blue {color:#283747;}

                                .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {line-height:35px; font-size:medium;}

                                .input-daterange input {height: 70px; font-size: medium;}

                                .modal-content {border-radius:8px;}

                                .small-box>.inner {border-radius:10px;}

                                .bg-aqua {background-color:#283747!important; border-radius:6px;}


                                .btn-default {margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 11px;
    padding-right: 25px;
    padding-bottom: 11px;
    padding-left: 18px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #283747;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #283747;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #283747;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #283747;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
    opacity: 1;
    transition-property: background-color, border, color, text-shadow, opacity;
    transition-duration: 500ms, 500ms, 500ms, 500ms, 200ms;
    transition-timing-function: ease, ease, ease, ease, ease;
    color: #283747;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;}

  .btn-default:hover{
  color: white;
  background-color: #283747;
  border-color: white;
}


                                .box-header { background-color: #283747; }

                               .swal-button--confirm { background: #283747; border-color: #283747; outline: none;}

                               .swal-button--confirm:hover { background: #d35400; border-color: #d35400; }

                               .swal-button--confirm:focus {box-shadow:none;}

                               .button.btn.btn-default {content: 'Done';}

                               html,body{
    width: 100%;
    padding: 0;
    margin: 0;
}


/* layout css */
.landing-wrapper .landing-block{
    width: 100%;
    height: 100vh;
}

.landing-wrapper .background-content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0;
}

.landing-wrapper .background-content img{
    display: block;
    width: 100%;
    height: 100%;
}

.landing-wrapper .foreground-content{
    position: absolute;
    top: 9%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-wrapper .foreground-content h1 {

  color: white;
}

.start_button {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 17px;
    padding-top: 11px;
    padding-right: 25px;
    padding-bottom: 11px;
    padding-left: 18px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: white;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: white;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: white;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
    opacity: 1;
    transition-property: background-color, border, color, text-shadow, opacity;
    transition-duration: 500ms, 500ms, 500ms, 500ms, 200ms;
    transition-timing-function: ease, ease, ease, ease, ease;
    color: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;

}

.start_button:hover {
  color: white;
  background-color: #d35400;
}

.content {

  padding-left:0px;
  padding-right:0px;
  padding-top: 0px;
}


.submit_button {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-top: 11px;
    padding-right: 25px;
    padding-bottom: 11px;
    padding-left: 18px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #d35400;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #d35400;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #d35400;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #d35400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
    opacity: 1;
    transition-property: background-color, border, color, text-shadow, opacity;
    transition-duration: 500ms, 500ms, 500ms, 500ms, 200ms;
    transition-timing-function: ease, ease, ease, ease, ease;
    color: #d35400;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;

}

.submit_button:hover{
  color: white;
  background-color: #d35400;
  border-color: white;
}
                                )
