<!-- app/views/home/show.html.erb -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Clients Update Page</title>
    <%= stylesheet_link_tag "home", :media => "all" %>
    
    <!--Main Navigation-->
    <header>
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top mx-auto">
        <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand" href="#">P s y c h l y t X | Scala Edit Tool</a>
          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav ml-auto text-center">
              <li class="nav-active">
                <a class="nav-link" href="#">Return To Scala Application</a>
              </li>
              <li class="nav-active">
                <a class="nav-link" href="http://www.psychlytx.com/about">About</a>
              </li>
            </ul>
            <!-- Links -->
          </div>
          <!-- Collapsible content -->
        </div>
      </nav>
      <!--/.Navbar-->
    </header>
    <div class="text-center container content-container">
      <h1>Scala Database Tool</h1>
      <br>
      <a href="/auth/auth0"><button type="button" class="btn btn-primary btn-login">Login</button>
      <!-- <a href="/auth/auth0">Login</a> -->
    </div>
    <!--Main Navigation-->
    <!--Main layout-->

      </main>
      <!--Main layout-->
      <!--Main layout-->
      <!--Footer-->
      <footer>
      </footer>
      <!--Footer-->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
  </html>